<div>
  <h2 id="page-heading" data-cy="GroupAuthorityHeading">
    <span jhiTranslate="mobigoApp.groupAuthority.home.title">GroupAuthorities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="mobigoApp.groupAuthority.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-group-authority"
        [routerLink]="['/group-authority/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="mobigoApp.groupAuthority.home.createLabel">Créer un nouveau Group Authority</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="mobigoApp.groupAuthority.home.search"
          >Recherche pour Group Authority</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'mobigoApp.groupAuthority.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (groupAuthorities().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="mobigoApp.groupAuthority.home.notFound">Aucun Group Authority trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="authority.name">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.groupAuthority.authority">Authority</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="group.id">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.groupAuthority.group">Group</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (groupAuthority of groupAuthorities(); track trackId(groupAuthority)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/group-authority', groupAuthority.id, 'view']">{{ groupAuthority.id }}</a>
              </td>
              <td>
                @if (groupAuthority.authority) {
                  <div>
                    <a [routerLink]="['/authority', groupAuthority.authority.name, 'view']">{{ groupAuthority.authority.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (groupAuthority.group) {
                  <div>
                    <a [routerLink]="['/group', groupAuthority.group.id, 'view']">{{ groupAuthority.group.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/group-authority', groupAuthority.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/group-authority', groupAuthority.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(groupAuthority)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
