name: mobigo
services:
  mailpit:
    image: axllent/mailpit:latest
    container_name: mobigo-mailpit
    ports:
      - '1025:1025' # SMTP server
      - '8025:8025' # Web UI
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    healthcheck:
      test: ['CMD', 'wget', '--spider', '-q', 'http://localhost:8025/api/v1/info']
      interval: 5s
      timeout: 5s
      retries: 10
