<div>
  <h2 id="page-heading" data-cy="VehicleHeading">
    <span jhiTranslate="mobigoApp.vehicle.home.title">Vehicles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="mobigoApp.vehicle.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle"
        [routerLink]="['/vehicle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="mobigoApp.vehicle.home.createLabel">Créer un nouveau Vehicle</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="mobigoApp.vehicle.home.search">Recherche pour Vehicle</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'mobigoApp.vehicle.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (vehicles().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="mobigoApp.vehicle.home.notFound">Aucun Vehicle trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="marque">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.marque">Marque</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="modele">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.modele">Modele</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="annee">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.annee">Annee</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="carteGrise">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.carteGrise">Carte Grise</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="immatriculation">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.immatriculation">Immatriculation</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nbPlaces">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.nbPlaces">Nb Places</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="couleur">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.couleur">Couleur</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="photo">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.photo">Photo</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="actif">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.actif">Actif</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="proprietaire.id">
              <div class="d-flex">
                <span jhiTranslate="mobigoApp.vehicle.proprietaire">Proprietaire</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (vehicle of vehicles(); track trackId(vehicle)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/vehicle', vehicle.id, 'view']">{{ vehicle.id }}</a>
              </td>
              <td>{{ vehicle.marque }}</td>
              <td>{{ vehicle.modele }}</td>
              <td>{{ vehicle.annee }}</td>
              <td>{{ vehicle.carteGrise }}</td>
              <td>{{ vehicle.immatriculation }}</td>
              <td>{{ vehicle.nbPlaces }}</td>
              <td>{{ vehicle.couleur }}</td>
              <td>{{ vehicle.photo }}</td>
              <td>{{ vehicle.actif }}</td>
              <td>
                @if (vehicle.proprietaire) {
                  <div>
                    <a [routerLink]="['/people', vehicle.proprietaire.id, 'view']">{{ vehicle.proprietaire.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/vehicle', vehicle.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/vehicle', vehicle.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(vehicle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
