<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-message-heading" data-cy="MessageCreateUpdateHeading" jhiTranslate="mobigoApp.message.home.createOrEditLabel">
        Créer ou éditer un Message
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="mobigoApp.message.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_contenu" jhiTranslate="mobigoApp.message.contenu">Contenu</label>
          <input type="text" class="form-control" name="contenu" id="field_contenu" data-cy="contenu" formControlName="contenu" />
        </div>

        @let dateEnvoiRef = editForm.get('dateEnvoi')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateEnvoi" jhiTranslate="mobigoApp.message.dateEnvoi">Date Envoi</label>
          <div class="input-group">
            <input
              id="field_dateEnvoi"
              data-cy="dateEnvoi"
              type="text"
              class="form-control"
              name="dateEnvoi"
              ngbDatepicker
              #dateEnvoiDp="ngbDatepicker"
              formControlName="dateEnvoi"
            />
            <button type="button" class="btn btn-secondary" (click)="dateEnvoiDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (dateEnvoiRef.invalid && (dateEnvoiRef.dirty || dateEnvoiRef.touched)) {
            <div>
              @if (editForm.get('dateEnvoi')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_statut" jhiTranslate="mobigoApp.message.statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'mobigoApp.MessageStatusEnum.null' | translate }}</option>
            @for (messageStatusEnum of messageStatusEnumValues; track $index) {
              <option [value]="messageStatusEnum">{{ 'mobigoApp.MessageStatusEnum.' + messageStatusEnum | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expediteur" jhiTranslate="mobigoApp.message.expediteur">Expediteur</label>
          <select
            class="form-control"
            id="field_expediteur"
            data-cy="expediteur"
            name="expediteur"
            formControlName="expediteur"
            [compareWith]="comparePeople"
          >
            <option [ngValue]="null"></option>
            @for (peopleOption of peopleSharedCollection; track $index) {
              <option [ngValue]="peopleOption">{{ peopleOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_destinataire" jhiTranslate="mobigoApp.message.destinataire">Destinataire</label>
          <select
            class="form-control"
            id="field_destinataire"
            data-cy="destinataire"
            name="destinataire"
            formControlName="destinataire"
            [compareWith]="comparePeople"
          >
            <option [ngValue]="null"></option>
            @for (peopleOption of peopleSharedCollection; track $index) {
              <option [ngValue]="peopleOption">{{ peopleOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
